{% extends "checkout/details.html" %}
{% load i18n %}
{% load bootstrap_form from bootstrap4 %}

{% block forms %}
  <form method="post" novalidate>
    {% csrf_token %}
    <h2>{% trans "Billing address" context "Checkout summary title" %}</h2>
    {% include "checkout/snippets/addresses_form.html" with addresses_form=addresses_form addresses=additional_addresses address_form=address_form only %}
    <h2>{% trans "Add a note to your order" context "Checkout summary note title" %}</h2>
        {% bootstrap_form note_form show_label=False %}
    <p class="text-md-right">
      <button type="submit" class="btn primary">
        {% trans "Order & Pay" context "Checkout summary primary action" %}
      </button>
    </p>
  </form>
<script>
    console.log("hello");
</script>
{% endblock forms %}
